.au-radio-wrap
  .au-radio(:class="{ checked: checked, disabled: disabled }",  @click="clickHandler")
    .au-radio-mark
      transition(name="au-checkbox-mark")
        .au-radio-mark-inner(v-if="checked")
    .au-radio-text
      span(v-if="label")|{{label}}
      slot(v-else)
