.au-button {
  font-size: $button-fontsize-default;
  display: inline-block;
  border: 1px solid $button-background-color;
  height: $button-height-default;
  line-height: $button-height-default - $button-padding-y-default * 2;
  text-align: center;
  color: $button-color;
  background-color: $button-background-color;
  padding: $button-padding-y-default $button-padding-x-default;
  margin: 0;
  border-radius: $button-border-radius;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &[disabled] {
    cursor: not-allowed;
  }

  &:active,
  &.active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
  }

  &:hover {
    color: $color-white;
  }
}

.au-button-primary {
  background-color: $color-primary;
  border-color: $color-primary;
  color: $color-white;

  &:hover,
  &:focus {
    background-color: lighten($color-primary, 5%);
    border-color: lighten($color-primary, 5%);
  }

  &:active,
  &.active {
    background-color: darken($color-primary, 5%);
    border-color: darken($color-primary, 5%);
  }
}

.au-button-info {
  background-color: $color-info;
  border-color: $color-info;
  color: $color-white;

  &:hover,
  &:focus {
    background-color: lighten($color-info, 5%);
    border-color: lighten($color-info, 5%);
  }

  &:active,
  &.active {
    background-color: darken($color-info, 5%);
    border-color: darken($color-info, 5%);
  }
}

.au-button-success {
  background-color: $color-success;
  border-color: $color-success;
  color: $color-white;

  &:hover,
  &:focus {
    background-color: lighten($color-success, 5%);
    border-color: lighten($color-success, 5%);
  }

  &:active,
  &.active {
    background-color: darken($color-success, 5%);
    border-color: darken($color-success, 5%);
  }
}

.au-button-warning {
  background-color: $color-warning;
  border-color: $color-warning;
  color: $color-white;

  &:hover,
  &:focus {
    background-color: lighten($color-warning, 5%);
    border-color: lighten($color-warning, 5%);
  }

  &:active,
  &.active {
    background-color: darken($color-warning, 5%);
    border-color: darken($color-warning, 5%);
  }
}

.au-button-danger {
  background-color: $color-danger;
  border-color: $color-danger;
  color: $color-white;

  &:hover,
  &:focus {
    background-color: lighten($color-danger, 5%);
    border-color: lighten($color-danger, 5%);
  }

  &:active,
  &.active {
    background-color: darken($color-danger, 5%);
    border-color: darken($color-danger, 5%);
  }
}

.au-button-default {
  background-color: $color-white;
  color: $color-black-light;
  border: 1px solid $color-border;

  &:hover,
  &:focus {
    border-color: $color-primary;
    color: $color-primary;
  }

  &:active,
  &.active {
    border-color: darken($color-primary, 5%);
    color: darken($color-primary, 5%);
  }

  &[disabled] {
    box-shadow: none;
    color: $color-gray-light;
    border-color: $color-border;
    background-color: $color-white;
  }

  &.au-button-large {
    padding: $button-padding-y-large - 2 $button-padding-x-large - 2;
  }

  &.au-button-small {
    padding: $button-padding-y-small - 2 $button-padding-x-small - 2;
  }

  &.au-button-mini {
    padding: $button-padding-y-mini - 2 $button-padding-x-mini - 2;
  }
}

.au-button-primary,
.au-button-info,
.au-button-danger,
.au-button-warning,
.au-button-success{
  &[disabled] {
    box-shadow: none;
    border: 1px solid $color-gray-light-extra;
    color: $color-gray-light;
    background-color: $color-white-dark;
  }
}

.au-button-link {
  background: transparent;
  border-color: transparent;
  color: $color-primary;
  padding-left: 0 !important;
  padding-right: 0 !important;
  &:hover,
  &:focus {
    color: darken($color-primary, 20%);
  }

  &:active,
  &.active {
    color: darken($color-primary, 30%);
    box-shadow: none;
  }
}

.au-button-large {
  font-size: $button-fontsize-large;
  padding: $button-padding-y-large $button-padding-x-large;
  height: $button-height-large;
  line-height: $button-height-large - $button-padding-y-large * 2;
}

.au-button-small {
  font-size: $button-fontsize-small;
  padding: $button-padding-y-small $button-padding-x-small;
  height: $button-height-small;
  line-height: $button-height-small - $button-padding-y-small * 2;
}

.au-button-mini {
  font-size: $button-fontsize-mini;
  padding: $button-padding-y-mini $button-padding-x-mini;
  height: $button-height-mini;
  line-height: $button-height-mini - $button-padding-y-mini * 2;
}

.au-button-block {
  display: block;
  width: 100%;
}

.au-button-content {
  & + .au-icon {
    margin-left: 5px;
  }
}

.au-icon + .au-button-content {
  margin-left: 5px;
}

.au-button-icon {
  padding: $button-padding-y-default !important;
  width: $button-height-default;
  height: $button-height-default;

  &.au-button-large {
    padding: $button-padding-y-large !important;
    width: $button-height-large;
    height: $button-height-large;
  }

  &.au-button-small {
    padding: $button-padding-y-small !important;
    width: $button-height-small;
    height: $button-height-small;
  }

  &.au-button-mini {
    padding: $button-padding-y-mini !important;
    width: $button-height-mini;
    height: $button-height-mini;
  }
}

// button-group
// -------------------------
.au-button-group {
  display: flex;
  .au-button {
    margin-right: 1px;

    &:last-child {
      margin-right: 0px;
    }
  }
}
