.text-primary {
  color: $color-primary;
}
.text-info {
  color: $color-info;
}
.text-success {
  color: $color-success;
}
.text-warning {
  color: $color-warning;
}
.text-danger {
  color: $color-danger;
}
.text-mute {
  color: $color-gray-light;
  cursor: not-allowed;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}