.au-row {
  @include clear();
  position: relative;
}

.au-col {
  float: left;
}


@for $i from 1 through 24 {
  .au-col-span-#{$i} {
    width: 100% / (24 / $i);
  }

  .au-col-offset-#{$i} {
    margin-left: 100% / (24 / $i);
  }
}

// flex
// -------------------------
.au-row-flex {
  display: flex;

  &:before,
  &:after {
    display: none;
  }

  .au-col {
    float: none;
  }
}