.au-radio-wrap {
  display: inline-block;
  vertical-align: middle;
}

.au-radio {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  font-size: $fontsize-default;

  &:hover {
    .au-radio-mark {
      border-color: $color-primary;
    }
  }

  &.checked {
    .au-radio-mark {
      border-color: $color-primary;
      background-color: $color-primary;
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: $color-gray;
    .au-radio-mark {
      background-color: $color-white-dark;
      border-color: $color-gray-light-extra;
    }

    &.checked {
      .au-radio-mark {
        background-color: $color-gray-light-extra;
      }
    }
  }
}

.au-radio-mark {
  background-color: $color-white;
  border: 1px solid $color-gray-light-extra;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  margin-right: 5px;
  overflow: hidden;
  @include flex-center-center();
  transition: border-color $transition-during;


  .au-radio-mark-inner {
    width: 6px;
    height: 6px;
    border-radius: 12px;
    background-color: $color-white;
  }
}

.au-radio-text {
  flex: 1;
}

.au-radio-group {
  .au-radio-wrap {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
