.au-tooltip-wrapper {
  display: inline-block;
  overflow: hidden;
}

.au-tooltip {
  font-size: $fontsize-small;
  line-height: $fontsize-small * 1.5;
  padding: 6px 10px;
  max-width: 400px;
  pointer-events: none;
}