.au-upload {
  display: inline-block;
  input[type="file"] {
    display: none;
  }

  .au-upload-inner {
    display: flex;
    align-items: center;
  }

  .au-upload-file-name {
    margin: 0 10px;
    font-size: $fontsize-default;
    color: $color-silver-light;
    @include text-overflowing();
  }
}