.au-date-time-picker-panel(@click="clickHandler")
  .au-date-time-picker-input-wrapper
    au-input(v-model="date", size="small", readonly)
    au-input(v-model="time", size="small", ref="timeInput", readonly, @click.native="inputClickHandler")

  au-date-picker-panel(
    v-model="model",
    ref="datePicker",
    :range="range",
    :leftRange="leftRange",
    :rightRange="rightRange",
    :startDate="startDate",
    :endDate="endDate",
    :disabledDate="disabledDate"
  )

  .au-date-picker-bottom(v-if="isShowBottomBar")
    .au-date-picker-bottom-btn(@click="closeHandler")|关闭

  popup(ref="popup", selfControl)
    AuTimePickerPanel(
      v-model="timeModel",
      ref="timePicker",
      :startDate="startDate",
      :endDate="endDate",
      :disabledDate="disabledDate",
      :format="format"
    )