extends ./_layout

block title
  |DragModal

block content
  au-panel
    .docs-heading
      h1|AuDragModal
      .docs-desc

    .docs-section
      h2|基础DragModal
      .docs-desc

      template.html(scoped="scoped")
        .docs-panel-row
          au-button-group
            au-button(@click="showRed=!showRed")|Toggle Red
            au-button(type="primary", size="small", @click="showModals")|显示全部
            au-button(type="info", size="small", @click="value.isShow = !value.isShow", v-for="value in modals")|显示Modal
          au-drag-modal(title="新页面", v-model="value.isShow", :top="top", :left="left", style="width:500px;", v-for="value in modals")
            div(style="background-color:red;height:2000px", v-if="showRed")
            div|这里是正文内容
            div|这里是正文内容
            div|这里是正文内容
            div|这里是正文内容
            div|这里是正文内容
            div|这里是正文内容
            div|这里是正文内容
            div|这里是正文内容
            div|这里是正文内容
            div|这里是正文内容
            div|这里是正文内容
            div|这里是正文内容
            div|这里是正文内容
            div|这里是正文内容
            div|这里是正文内容
            div(slot="footer")
              au-button(type="primary", size="small")|提交
              au-button(type="default", size="small", @click="value.isShow = false")|取消
      .docs-panel
        .docs-panel-content
        .docs-code
          docs-code.html
          docs-code.js


block script
  script.
    new Vue({
      el: '#app',
      mixins,
      data () {
        return {
          showRed: false,
          attrs: [
            {
              name: 'column',
              desc: '列信息',
              type: 'Array',
              default: 'null'
            }
          ],
          top: null,
          left: null,
          modals: [
            { isShow: false },
            { isShow: false },
            { isShow: false },
            { isShow: false },
            { isShow: false },
            { isShow: false },
            { isShow: false }
          ]
        }
      },
      methods: {
        showModals () {
          this.modals = this.modals.map((item) => {
            item.isShow = !item.isShow
            return item
          })
        }
      }
    })
