extends ./_layout

block title
  |Start

block content
  au-panel
    h2|安装
    section
      p|Aurora是基于Vue 2.2.0版的组件库, 请使用Vue 2.2.0以上的版本

    section
      h3|Github地址
      p
        a(href="https://github.com/MeiliFE/Aurora", target="_blank")|https://github.com/MeiliFE/Aurora
    section
      h3|安装
    section
      h3|安装font-awesome
      p|Aurora目前使用了fontawsome图标库, 由于未来会使用自己的图标库, 所以并没有集成fontawsome, 用户需要自行添加fontawesome字体库
      p
       a(href="http://fontawesome.io/", target="_blank")|http://fontawesome.io/
    section
      h3|安装Aurora
      p|请下载aurora的js, css文件, 并引入进项目中
      p
        a(href="../src/aurora.js", target="_blank")|下载 aurora.js
      p
        a(href="../src/sass/aurora.css", target="_blank")|下载 aurora.css


block script
  script.
    new Vue({
      el: '#app',
      mixins,
      data () {
        return {}
      }
    })
