extends ./_layout

block title
  |Select

block content
  au-panel
    .docs-heading
      h1|AuSelect
      .docs-desc

    .docs-section
      h2|基础选择器

      .docs-desc
        p|基础选择器的用法

      template.html(scoped="scoped")
        .docs-panel-row
          au-flex(column, gutter="10")
            au-item
              au-select(v-model="form.class", :options="options", placeholder="请选择班级", @change="onChange")

            au-item
              au-select(v-model="form.class", placeholder="请选择班级")
                au-option(
                  v-for="option in options",
                  :label="option.label",
                  :value="option.value"
                )
      .docs-panel
        .docs-panel-content
        .docs-code
          docs-code.html

    .docs-section
      h2|可清空

      .docs-desc
        p|可清空的用法

      template.html(scoped="scoped")
        .docs-panel-row
          au-flex(column, gutter="10")
            au-item
              au-select(v-model="form.class", :options="options", placeholder="请选择班级", clearable)
            au-item
              au-select(multiple, v-model="form.classes", :options="options", placeholder="请选择班级", clearable)
      .docs-panel
        .docs-panel-content
        .docs-code
          docs-code.html

    .docs-section
      h2|多选选择器
      .docs-desc
        p|多选选择器的用法

      template.html(scoped="scoped")
        .docs-panel-row
          au-flex
            au-item(grow="1")
              au-select(multiple, v-model="form.classes", :options="options", placeholder="请选择班级")

      .docs-panel
        .docs-panel-content
        .docs-code
          docs-code.html

    .docs-section
      h2|多种大小
      .docs-desc
        p|多种大小的用法

      template.html(scoped="scoped")
        .docs-panel-row

          au-flex(gutter="10")
            au-item(span="12")
              au-flex(column, gutter="10")
                au-item(span="12")
                  au-select(size="large", v-model="form.class", :options="options", placeholder="请选择班级")
                au-item(span="12")
                  au-select(size="default", v-model="form.class", :options="options", placeholder="请选择班级")
                au-item(span="12")
                  au-select(size="small", v-model="form.class", :options="options", placeholder="请选择班级")
                au-item(span="12")
                  au-select(size="mini", v-model="form.class", :options="options", placeholder="请选择班级")
            au-item(span="12")
              au-flex(column, gutter="10")
                au-item(span="12")
                  au-select(size="large", v-model="form.class", :options="options", placeholder="请选择班级")
                  au-select(multiple, size="large", v-model="form.classes", :options="options", placeholder="请选择班级")
                au-item(span="12")
                  au-select(size="default", v-model="form.class", :options="options", placeholder="请选择班级")
                  au-select(multiple, size="default", v-model="form.classes", :options="options", placeholder="请选择班级")
                au-item(span="12")
                  au-select(size="small", v-model="form.class", :options="options", placeholder="请选择班级")
                  au-select(multiple, size="small", v-model="form.classes", :options="options", placeholder="请选择班级")
                au-item(span="12")
                  au-select(size="mini", v-model="form.class", :options="options", placeholder="请选择班级")
                  au-select(multiple, size="mini", v-model="form.classes", :options="options", placeholder="请选择班级")

      .docs-panel
        .docs-panel-content
        .docs-code
          docs-code.html

    .docs-section
      h2|禁用选择器
      .docs-desc
        p|禁用选择器的用法

      template.html(scoped="scoped")
        .docs-panel-row
          au-flex
            au-item(grow="1")
              au-select(disabled, multiple, v-model="form.classes", :options="options", placeholder="请选择班级")
            au-item(grow="1")
              au-select(disabled, v-model="form.class", :options="options", placeholder="请选择班级")

    .docs-section
      h2|搜索选择器
      .docs-desc
        p|搜索选择器的用法

      template.html(scoped="scoped")
        .docs-panel-row
          au-flex
            au-item(span="12")
              au-select(v-model="form.class", :options="options", placeholder="请选择班级", :filter="true")
            au-item(span="12")
              au-select(multiple, v-model="form.classes", :options="options", placeholder="请选择班级", :filter="true")

      .docs-panel
        .docs-panel-content
        .docs-code
          docs-code.html

    .docs-section
      h2|属性
      au-table(:data="attrs")
        au-table-column(v-for="column in columns", :label="column.label", :attr-name="column.attrName")

block script
  script.
    new Vue({
      el: '#app',
      mixins,
      data () {
        return {
          attrs: [
            {
              name: 'v-model',
              desc: '绑定的数据',
              type: 'String, Number',
              default: ''
            },
            {
              name: 'options',
              desc: 'select的option数组, 格式为{ label, value } (可以不传此值, 通过使用AuOption来手动指定)',
              type: 'Array',
              default: 'null'
            },
            {
              name: 'placeholder',
              desc: '同原生的placeholder',
              type: 'String',
              default: '请选择'
            },
            {
              name: 'multiple',
              desc: '是否使用多选, 若设置为true, v-model需要绑定数组对象',
              type: 'Boolean',
              default: 'false'
            },
            {
              name: 'size',
              desc: '选择器的大小 (可选值: large, default, small, mini)',
              type: 'String',
              default: 'default'
            },
          ],
          form: {
              'class': '',
              'classes': ['1', '2']
          },
          options: []
        }
      },
      created () {
        setTimeout(() => {
          this.options = [
            {
              label: '三年一班',
              value: '1'
            },
            {
              label: '三年二班',
              value: '2'
            },
            {
              label: '三年三班',
              value: '3'
            },
            {
              label: '三年四班',
              value: '4'
            },
            {
              label: '三年五班',
              value: '5'
            },
            {
              label: '三年六班',
              value: '6'
            }
          ]
        }, 0)
      },
      methods: {
        onChange (value) {
          console.log(value)
        }
      }
    })
